<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <h1 class="title">
      ibA
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">

        <div class="icon"></div>

        <div class="title">Home</div>
      </div>
    </div>
    
    <div class="link">
      <div class="content" [routerLink]="['/mealPlan']" [routerLinkActive]="'active'">
 
        <div class="icon"></div>

        <div class="title">Meal Plan</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/accountingPage']" [routerLinkActive]="'active'">
 
        <div class="icon"></div>

        <div class="title">Accounting Page</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/kitchen']" [routerLinkActive]="'active'">
 
        <div class="icon"></div>

        <div class="title">Kitchen Menu</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/viewDetails']" [routerLinkActive]="'active'">
 
        <div class="icon"></div>

        <div class="title">Employee Selected Menu</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/kitchenSummarize']" [routerLinkActive]="'active'">
 
        <div class="icon"></div>

        <div class="title">Kitchen Summarize Page</div>
      </div>
    </div>
  
  <div class="link">
    <div class="content" [routerLink]="['/guest']" [routerLinkActive]="'active'">

      <div class="icon"></div>

      <div class="title">Guest Menu</div>
    </div>
  </div>
</div>
  
  <div class="footer"></div>
</div>
