<div class="container">
  <span class="d-block mx-auto mb-4 text-center" style="font-size: 5rem; color: #ffc107; font-weight: bold;">
    <img src="https://www.fuerthwiki.de/wiki/images/e/e4/2018_iba_Brands_CMYK_GLOBAL.jpg" alt="iba Restaurant Logo" style="max-width: 70px; margin-right: 10px;">
    iba Restaurant
  </span>

<div>
  <h2>Select Plan</h2>

</div>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dagDropdown" ngbDropdownToggle>
        Week
      </button>
      <div ngbDropdownMenu aria-labelledby="dagDropdown">
        <ng-container *ngFor="let dag of ['previousWeek','NextWeek']">
          <button (click)="changeDag(dag)"ngbDropdownItem>{{ dag }}</button>
        </ng-container>
      </div>
      <p>
        Week: {{this.selectedDag}}
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dagDropdown" ngbDropdownToggle>
        Monday
      </button>
      <div ngbDropdownMenu aria-labelledby="dagDropdown">
        <ng-container *ngFor="let dag of (dags$ | async)">
          <button (click)="changeDag(dag)"ngbDropdownItem>{{ dag }}</button>
        </ng-container>
      </div>
      <p>
        Monday: {{this.selectedDag}}
      </p>
    </div>
  </div>
</div>

<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        TuesDay
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeTuesday(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Tuesday: {{this.Tuesday}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        Wednesday
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeWednesday(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Wednesday: {{this.Wedensday}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        ThursDay
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeThursday(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        ThursDay: {{this.ThursDay}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        Friday
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeFriday(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Friday: {{this.Friday}}
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-inline-block">
      <button type="button" class="btn btn-danger" (click)="this.submitPlan()">
        Submit
      </button>
    </div>
  </div>
</div>


<!-- days in a week -->
<!-- <div class="row" *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        {{ day }}
      </button>
      <div ngbDropdownMenu aria-labelledby="{{ day }}Dropdown">
        <ng-container *ngFor="let meal of Object.keys(preparedPlan$[day])">
          <button (click)="changeMeal(day, meal, preparedPlan$[day][meal])" ngbDropdownItem>
            {{ meal }}: {{ preparedPlan$[day][meal] }}
          </button>
        </ng-container>
      </div>
      
    </div>
  </div>
</div> -->