<span class="d-block mx-auto mb-4 text-center" style="font-size: 5rem; color: #ffc107; font-weight: bold;">
  <img src="https://www.fuerthwiki.de/wiki/images/e/e4/2018_iba_Brands_CMYK_GLOBAL.jpg" alt="iba Restaurant Logo" style="max-width: 70px; margin-right: 10px;">
  iba Restaurant
</span>
    <h1 class="mb-4" style="font-size: 3rem; color: #4e6c6b; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);">Meal Selection</h1>
    <img src="assets\images\Screenshot 2024-01-20 140320.png" alt="Kitchen Image" width="50%" class="img-fluid">
    <img src="assets\images\Screenshot 2024-01-20 140320.png" alt="Kitchen Image" width="50%" class="img-fluid">
  
<br>
<br>
<br>
<h5>
  1. Please select the week
</h5>
<br>
  <div class="row mb-3">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="weekDropdown" ngbDropdownToggle>
          Week
        </button>
        <div ngbDropdownMenu aria-labelledby="weekDropdown">
          <ng-container *ngFor="let week of ['previousWeek', 'NextWeek']">
            <button (click)="changeWeek(week)" ngbDropdownItem>{{ week }}</button>
          </ng-container>
        </div>
        <p>Week: {{ selectedWeek }}</p>
      </div>
    </div>
  </div>

  <br>
  <h5>
    2. Please select the meal of the day
  </h5>
  <br>

  <div class="row mb-3">
    <div class="col">
      <!-- Monday Dropdown -->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="mondayDropdown" ngbDropdownToggle>
          Monday
        </button>
        <div ngbDropdownMenu aria-labelledby="mondayDropdown">
          <!-- Add Monday dropdown items here -->
        </div>
      </div>
      <div style="display: inline-block; width: 20px;"></div>

      <!-- Tuesday Dropdown -->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="tuesdayDropdown" ngbDropdownToggle>
          Tuesday
        </button>
        <div ngbDropdownMenu aria-labelledby="tuesdayDropdown">
          <!-- Add Tuesday dropdown items here -->
        </div>
      </div>
      <div style="display: inline-block; width: 20px;"></div>

      <!-- Wednesday Dropdown -->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="wednesdayDropdown" ngbDropdownToggle>
          Wednesday
        </button>
        <div ngbDropdownMenu aria-labelledby="wednesdayDropdown">
          <!-- Add Wednesday dropdown items here -->
        </div>
      </div>
      <div style="display: inline-block; width: 20px;"></div>

      <!-- Thursday Dropdown -->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="thursdayDropdown" ngbDropdownToggle>
          Thursday
        </button>
        <div ngbDropdownMenu aria-labelledby="thursdayDropdown">
          <!-- Add Thursday dropdown items here -->
        </div>
      </div>
      <div style="display: inline-block; width: 20px;"></div>

      <!-- Friday Dropdown -->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="fridayDropdown" ngbDropdownToggle>
          Friday
        </button>
        <div ngbDropdownMenu aria-labelledby="fridayDropdown">
          <!-- Add Friday dropdown items here -->
        </div>
      </div>
      <div style="display: inline-block; width: 15px;"></div>
      
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="row mb-3">
    <div class="col">
      <div class="d-inline-block">
        <button type="button" class="btn btn-danger" (click)="submitPlan()">
          Submit
        </button>
      </div>
    </div>
  </div>

  <style>
    .dropdown-menu {
      background-color: #f1f0d5; 
    }
  
  </style>
  