<p>meal-plant-selection works!</p>
<div>
  <h2>Select Plan</h2>

</div>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dagDropdown" ngbDropdownToggle>
        Monday
      </button>
      <div ngbDropdownMenu aria-labelledby="dagDropdown">
        <ng-container *ngFor="let dag of (dags$ | async)">
          <button (click)="changeDag(dag)"ngbDropdownItem>{{ dag }}</button>
        </ng-container>
      </div>
      <p>
        Monday: {{this.selectedDag}}
      </p>
    </div>
  </div>
</div>

<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        TuesDay
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeFile(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Tuesday: {{this.Tuesday}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        Wednesday
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeFile(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Wednesday: {{this.Wedensday}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        ThursDay
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeFile(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        ThursDay: {{this.ThursDay}}
      </p>
    </div>
  </div>
</div>
<!-- days in a week -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
        Friday
      </button>
      <div ngbDropdownMenu aria-labelledby="fileDropdown">
        <ng-container *ngFor="let file of (files$ | async)">
          <button (click)="changeFile(file)"ngbDropdownItem>{{ file}}</button>
        </ng-container>
      </div>
      <p>
        Friday: {{this.Friday}}
      </p>
    </div>
  </div>
</div>


