<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Crew Login - iba Restaurant</title>
    <!-- Include your CSS stylesheets or link to a CSS file here -->
</head>

<body style="background-color: #f8f9fa;">

    <!-- Your Kitchen Crew Login page content goes here -->
    <div class="d-flex justify-content-center" style="height: 70vh; display: flex; align-items: center;">
        <div class="container-fluid px-3 text-center" style="max-width: 700px;">
            <span class="d-block mx-auto mb-4" style="font-size: 5rem; color: #ffc107; font-weight: bold;"><img src="https://www.fuerthwiki.de/wiki/images/e/e4/2018_iba_Brands_CMYK_GLOBAL.jpg" alt="iba Restaurant Logo" style="max-width: 70px; margin-right: 10px;">iba Restaurant</span>

            <h1 class="mb-4" style="font-size: 3rem; color: #4e6c6b; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);">Kitchen Crew Login</h1>

            <!-- Include your login form or any other content for the Kitchen Crew Login page -->
            <form>
                <!-- Your login form fields go here -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-lg btn-warning fw-bold border-dark"
                    style="background-color: #8FED8F; color: #343a40;">Login</button>
                    <a href="http://localhost:4200/login" class="btn btn-lg btn-warning fw-bold border-dark " style="background-color: #8FED8F; color: #343a40; margin-left: 10px;">Back</a>
            </form>

        </div>
    </div>

    <!-- Include your JavaScript scripts or link to a JS file here -->

</body>

</html>
