<p>guest-selection-detail works!</p>
<span class="d-block mx-auto mb-4 text-center" style="font-size: 5rem; color: #ffc107; font-weight: bold;">
    <img src="https://www.fuerthwiki.de/wiki/images/e/e4/2018_iba_Brands_CMYK_GLOBAL.jpg" alt="iba Restaurant Logo" style="max-width: 70px; margin-right: 10px;">
    iba Restaurant
  </span>
      <h4 class="mb-4" style="font-size: 3rem; color: #4e6c6b; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);">Guest Meal Selection</h4>
      <img src="assets\images\Screenshot 2024-01-20 140320.png" alt="Kitchen Image" width="50%" class="img-fluid">
      <img src="assets\images\Screenshot 2024-01-20 140320.png" alt="Kitchen Image" width="50%" class="img-fluid">
    
  <br>
  <h5>
    Please give  your Guest Details
  </h5>
<!-- days in a week -->
<div class="d-flex justify-content-center">
<div class="row" >
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
          Day
        </button>
        <div ngbDropdownMenu aria-labelledby="fileDropdown">
          <ng-container *ngFor="let file of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
            <button (click)="changeDay(file)"ngbDropdownItem>{{ file}}</button>
          </ng-container>
        </div>
        <p>
          Day: {{this.day}}
        </p>
      </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
            Meal Options
          </button>
          <div ngbDropdownMenu aria-labelledby="fileDropdown">
            <ng-container *ngFor="let file of ['Vegan', 'Vegitatian', 'Meat', 'Meat+Salat', 'Vegan+salat']">
              <button (click)="changeDay(file)"ngbDropdownItem>{{ file}}</button>
            </ng-container>
          </div>
          <p>
            Meal: {{this.day}}
          </p>
        </div>
      </div>
  </div>
</div>
  <div class="d-flex justify-content-center">
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="startPipelineWithFile"> Add Other to Guests
      </label>
      <div *ngIf="startPipelineWithFile">
        <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
                  Day
                </button>
                <div ngbDropdownMenu aria-labelledby="fileDropdown">
                  <ng-container *ngFor="let file of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
                    <button (click)="changeDay(file)"ngbDropdownItem>{{ file}}</button>
                  </ng-container>
                </div>
                <p>
                  Day: {{this.day}}
                </p>
              </div>
            </div>
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" class="btn btn-outline-primary" id="fileDropdown" ngbDropdownToggle>
                    Meal Options
                  </button>
                  <div ngbDropdownMenu aria-labelledby="fileDropdown">
                    <ng-container *ngFor="let file of ['Vegan', 'Vegitatian', 'Meat', 'Meat+Salat', 'Vegan+salat']">
                      <button (click)="changeDay(file)"ngbDropdownItem>{{ file}}</button>
                    </ng-container>
                  </div>
                  <p>
                    Meal: {{this.day}}
                  </p>
                </div>
              </div>
              <button type="button" class="btn btn-danger" >
                Submit
              </button>
          </div>