<div class="container">
    <span class="d-block mx-auto mb-4 text-center" style="font-size: 5rem; color: #ffc107; font-weight: bold;">
      <img src="https://www.fuerthwiki.de/wiki/images/e/e4/2018_iba_Brands_CMYK_GLOBAL.jpg" alt="iba Restaurant Logo" style="max-width: 70px; margin-right: 10px;">
      iba Restaurant
    </span>
  
    <h1 class="mb-4" style="font-size: 3rem; color: #4e6c6b; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);">Summary Page</h1>
    <div class="text-center">
        <img src="assets/images/Screenshot%202024-01-20%20134019.png" alt="Kitchen Image" width="50%" class="img-fluid" />
      </div>
    <br>
    <br>

</div>